.section-recipes {
	&__wrap {
		padding: 50px 0 85px 0;
	}

	&__tag {
	}

	&__lsit {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 30px;
		margin-bottom: 45px;
	}

	&__item {
	}

	&__pagination {
		display: flex;
		justify-content: center;
	}
}

.tag-recipes {
	padding: 35px 50px 30px 50px;
	border: 1px solid #faa53c;
	border-radius: 3px;
	margin-bottom: 45px;
	&__lsit {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px -10px -10px;
	}

	&__button-wrap {
		margin-top: 25px;
		text-align: center;
	}

	&__item {
		margin: 0 5px 10px 5px;
		display: inline-block;
		padding: 8px 17px;
		border: 1px solid #faa53c;
		border-radius: 3px;
		color: #2f2f2f;
		&:hover {
			background: #faa53c;
			color: #fff;
		}

		&.active {
			background: #faa53c;
			color: #fff;
		}

		&.--hidden {
			display: none;
		}
	}

	&__view-all {
		color: #5fad56;
		border-bottom: 1px solid #5fad56;
		transition: all 0.3s ease;
		padding-bottom: 2px;
		&:hover {
			border-color: transparent;
		}
	}
}

@media (max-width: 1170px) {
	.tag-recipes {
		padding: 15px;
	}

	.section-recipes {
		&__lsit {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

@media (max-width: 768px) {
	.tag-recipes {
		&__item {
			padding: 4px 10px;
			font-size: 14px;
		}
	}

	.section-recipes {
		&__lsit {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 20px;
		}
	}
}

@media (max-width: 500px) {
	.section-recipes {
		&__lsit {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

.recipes-block-text {
	position: absolute;
	right: 0;
	top: -25px;
	&__item {
		font-weight: 450;
		font-size: 24px;
		line-height: 105.69%;
		color: #1f7240;
		&:last-child {
			padding-left: 155px;
		}
	}
}

@media (max-width: 1170px) {
	.recipes-block-text {
		&__item {
			font-size: 18px;
			&:last-child {
				padding-left: 100px;
			}
		}
	}
}

@media (max-width: 600px) {
	.recipes-block-text {
		display: none;
	}
}
